/* 导航--标题 */
.news header{
    position: relative;
}
.news header .title{
    height: 74px;
    background: #fd7800;
    color:#fff;
    font-size: 24px;
    font-family: '微软雅黑',Arial, Helvetica, sans-serif;
    line-height: 74px;
}
.news header .title .light{
    opacity: 0.5;
}
.news header .goback{
    width: 12px;
    position: absolute;
    top: 28px;
    left: 16px;
}

/* 新闻列表 */
 .newsList{
    margin-bottom: 60px;
}
.newsList .newsItem{
    width: 90%;
    margin: 20px auto;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.062);
}
.newsList .newsItem .user{
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
}
.newsList .newsItem .user img{
    width: 46px;
    border-radius: 50%;
    float: left;
    margin-right:14px; 
}
.newsList .newsItem .user h5{
    font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
}
.newsList .newsItem .user p{
    font-size: 12px;
}
/* 新闻大图 */
.newsList .newsItem .newsImg{
    border-radius: 4px;
    height: 160px;
    overflow: hidden;
    margin-bottom: 16px;
}
.newsList .newsItem .newsImg img{
    width: 100%;
}
/* 文字简介 */
.newsList .article{
    text-align: left;
    padding: 0 8px;
}
.newsList .article .text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 6px;
}
.newsList .article .good{
    float:right;
    padding-right: 10px;
    margin-bottom: 6px;
}
.newsList .article .good img{
    width: 16px;
    margin-right: 6px;
}